rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Globals
    function isSignedIn() {
      return request.auth != null;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /settings/pricing {
      allow read: if true;
      allow write: if isSignedIn();
    }
  }
}
